#tree{
    float: left;
    max-width: 18%;
}
#editor{
    width: 80%;
    float: right;
}
#filePath{
    width: 100%;
    font-weight: bold;
}
#content{
    width: 100%;
    border:0;
    background-color: #000000;
    color: #FFFFFF;
    min-height: 500px;
}